body{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.carouselContainer{
    display: flex;
    width: 60vw;
    height: 33.7vw;
    position: relative;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex; 
    overflow-x: auto;   

    cursor: grab;
}

.carouselContainer::-webkit-scrollbar {
    display: none;
}

.carouselImage{
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;   
    display: flex;
}

.carouselNavButton{
    position: absolute;
    top:44%;
    width: 60px;
    height: 60px;
    background-color: rgba(97,96,96,.32);
    border-radius: 50%;
    cursor:pointer;
    color: #ffffff;
    border:none;
    font-size: 30px;
    z-index:999;
}

.carouselNavButton--left{
    right: 30px;
}

.carouselNavButton--right{
    left: 30px;
}

.grabbing{
    cursor:grabbing;
}